/* TYPOGRAPHY SETTINGS
------------------------*/
.home h2{
	color: #a89b94;
	font-size: 1.65rem;
	font-weight: 300;
	text-transform: uppercase;
}


/* MAIN menu overrides
-----------------------------*/
/*transparent menu background colour*/
#main-header{
	background-color: rgba(0, 0, 0, 0.0)!important; /* override the white bg on hp only*/
}

/*menu text and chevron colour set to white*/
#main-header .ubermenu .ubermenu-target-text{
	color: #ffffff;
}

#main-header .ubermenu-has-submenu-drop > .ubermenu-target:after {
    color: #ffffff;
}

/*change background of li to blue on hover*/
ul.ubermenu-nav > li a:hover {
    background: #4d4d4f !important;
}

/*change color of submenu item text*/
#main-header .ubermenu-submenu span.ubermenu-target-title.ubermenu-target-text{
    color: #4d4d4f!important;
}

/*#main-header .ubermenu .uber-submenu .ubermenu-target-text{
    color: #4d4d4f !important;
}*/

/*ul.ubermenu-nav > li a:active {
    background: #4d4d4f !important;
}

#main-header.ubermenu  li.ubermenu-item:hover{
    background: #4d4d4f!important;
}

#main-header .ubermenu li.ubermenu-item:hover{
	background: transparent!important;
    color: #4d4d4f;
}*/



/*#main-header .ubermenu .ubermenu-target-text:hover{
	color: #000000;
}
*/




/* TOP menu overrides
-----------------------------*/
#page-container div#top-header{
	background-color: rgba(0, 0, 0, 0.0)!important;
}

#et-secondary-nav .menu-item a{
    border: 1.5px solid #ffffff!important;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 8.5px;
}



/* Homepage slider overrides
-----------------------------*/
div.et_pb_slide_description{
	background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 240px;
    margin-top: 175px;
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 610px;
}

a.et_pb_more_button {
    margin-top: 40px;
}

/* What happens to the menu when scrolled on the homepage
-----------------------------------------------------------*/
/* Being more specific to override the styles above*/

header#main-header.scrolled-menu{
    background-color: #ffffff !important;
    top: 0 !important;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)!important;
}

header#main-header.scrolled-menu .ubermenu .ubermenu-target-text{
	color: #333333;
}
header#main-header.scrolled-menu .ubermenu-has-submenu-drop>.ubermenu-target:after {
    color: #333333;
}
